body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #111;
    color: white;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    background: black;
    border: 2px solid white;
}
